@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sistem-ui, sans-serif;
}
body{
  height: 100vh;
  display: grid;
  place-items: center;
  font-size: 1.1rem;
  line-height: 1.2;
  background: #212121;
  color: #ddd;
}
ul{
  list-style: none;
}
.main{
  max-width: 75rem;
  padding: 3em 1.5em;
  .main__heading{
    font-weight: 600;
    font-size: 2.25em;
    margin-bottom: 0.75rem;
    text-align: center;color: #eceff1;
  }
  .cards{
    position: relative;
    .cards__inner{
      display: flex;
      flex-wrap: wrap;
      gap: 2.5em;
    }
  }

}
.card{
   background: red;
 
}